<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>JSON Formatter</title>
</head>

<body>
    <span id="notification-area"></span>
    <br>
    <textarea id="json-input" rows="10" cols="40" spellcheck="false" placeholder="Paste your JSON here."></textarea>
    <br>
    <br>
    <button type="button" id="formatButton" class="btn">Format JSON</button>
    <button class="btn" type="button" id="selectAllButton">Copy</button>
    <script src="js/jquery.min.js"></script>
    <script src="js/formatter.js"></script>
</body>

</html>
