<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>JSON Formatter</title>
</head>

<body>
    <div id="main-body">
        <span id="notification-area"></span>
        <br>
        <textarea id="json-input" rows="10" cols="40" spellcheck="false" placeholder="Paste your JSON here."></textarea>
        <br>
        <br>
        <button type="button" id="formatButton" class="btn">Format JSON</button>
        <button class="btn" type="button" id="selectAllButton">Copy</button>
    </div>
    <div id="sidebar">
        <span id="sidebar-title">&#9776;</span>
        <div id="sidebar-content">
            <ul>
                <li>
                    JSON Formatter v0.2.0
                </li>
                <li>
                    By <a id="author-link">Jack Dalton</a>
                </li>
                <li>
                    <a id="gh-link">Contribute on GitHub</a>
                </li>
            </ul>
            <ul>
                <li>
                    text wrap <select id="opt-text-wrap">
                        <option value="soft" selected>soft</option>
                        <option value="hard">hard</option>
                    </select>
                </li>
                <li>
                    tab <select id="opt-tab-width">
                        <option value="2">2 spaces </option>
                        <option value="4" selected>4 spaces</option>
                        <option value="tabchar">tab character</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/formatter.js"></script>
</body>

</html>
